In [1]:
import matplotlib as matplot
import seaborn
import bokeh
import keras
import numpy
import scipy
import pandas as pd
# import block

In [187]:
ncs1 = pd.read_csv("ICPSR_06693-V6/ICPSR_06693/DS0001/06693-0001-Data.tsv", sep = "\t")
# ncs1 includes all of the symptom data from the NCS Data

In [246]:
ncs1 = pd.DataFrame(ncs1)
#turn into pandas DF

In [251]:
ncs1

,CASEID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V7437,V7438,V7439,V7440,V7441,V7442,P1FWT,P2WTV3,TOBACWT,P2TOBWT
0,10001,60080192,1,8128,9,28,90,9,28,90,...,9,9,9,9,99,9,0.5135,,0.5883,
1,10002,16030048,1,3941,10,1,90,10,1,90,...,9,9,9,9,99,9,1.8968,,2.1730,
2,10003,74070592,1,7813,10,5,90,10,5,90,...,9,9,9,9,99,9,0.4100,,0.4697,
3,10004,74030720,1,7813,10,10,90,10,10,90,...,9,9,9,9,99,9,0.3093,,0.3543,
4,10005,4180080,1,9018,10,10,90,10,10,90,...,9,9,9,9,99,9,0.7790,,0.8924,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,25952,44110688,6,8331,11,8,91,11,8,91,...,0,0,0,0,0,0,3.1569,,3.6165,
8094,25953,1130821,5,4260,8,21,91,11,13,91,...,5,5,0,1,99,9,0.1200,.2128,0.1375,.3332
8095,25954,18070448,4,5319,7,7,91,7,7,91,...,0,0,0,0,0,0,0.8161,.6435,0.9349,1.0076
8096,25955,1400261,6,8224,11,22,91,11,22,91,...,5,5,0,2,0,0,0.5060,,0.5797,
8097,25956,1471591,4,8224,8,25,91,10,11,91,...,0,0,0,0,0,0,0.9369,,1.0733,

In [249]:
ncs_a = ncs1.iloc[:, ncs1.columns.get_loc('V101'):ncs1.columns.get_loc('V250')]
ncs_a.insert(0, 'CASEID', ncs1.loc[:,'CASEID'], True)

In [250]:
ncs_a

,CASEID,V101,V102,V103,V104,V105,V106,V107,V108,V109,...,V240,V241,V242,V243,V244,V245,V246,V247,V248,V249
0,10001,1,2,1,2,8,1,2,5,5,...,0,0,0,1,2,0,2,1,4,4
1,10002,3,3,3,3,8,1,2,3,5,...,0,0,0,1,3,0,2,1,4,4
2,10003,3,3,3,3,8,1,1,1,0,...,1,1,2,0,0,3,3,3,1,4
3,10004,1,1,1,3,5,1,2,3,5,...,0,0,0,1,4,0,3,1,3,3
4,10005,2,2,1,3,8,1,1,1,0,...,1,1,1,0,0,1,2,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,25952,2,1,1,3,6,2,0,5,5,...,0,0,0,1,1,0,2,2,3,2
8094,25953,3,2,1,2,7,2,0,5,5,...,0,0,0,1,1,0,2,1,4,4
8095,25954,4,2,5,4,7,2,0,1,0,...,1,1,1,0,0,3,4,2,3,4
8096,25955,2,3,1,3,7,1,0,1,0,...,1,1,0,0,0,3,3,3,1,2
8097,25956,1,2,1,1,8,1,0,1,0,...,1,1,1,0,0,3,3,2,4,2